<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/spring/spring-root.xml
		/WEB-INF/spring/spring-security.xml	<!-- El spring-security presenta la configuracion de seguridad de la aplicacion -->	
		</param-value>	
	</context-param>
	<filter>
		 <filter-name>springSecurityFilterChain</filter-name>
		 <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		 <filter-name>springSecurityFilterChain</filter-name>
		 <url-pattern>/*</url-pattern>
	</filter-mapping>	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>			
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/spring-servlet.xml 	<!-- El spring-servlet presenta lo que se trabaja con MVC -->
				/WEB-INF/spring/spring-data.xml		<!-- El spring-data presenta la configuracion de hibernate y de base de datos -->
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
